{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-10 mx-auto mt-4">
    {%include 'modules/player_info.html.twig' with {'user':user}%}
    </div>
</div>
{% endblock %}
