{% extends 'default/with_navbar.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<h3>Twoje dane</h3>

    <div class="row">
        {%include 'modules/player_info.html.twig' with {'user':user}%}
    </div>
{% endblock %}
