{% extends 'default/with_navbar.html.twig' %}

{% block title %}Profil zawodnika {{player.fullName}}{% endblock %}

{% block body %}
<h3>Karta zawodnika {{player.fullName}}</h3>

<div class="row dashboard">
{%include 'modules/player_card.html.twig' with {'user':player,'assigned':assigned}%}
</div>


{% endblock %}
