{% extends 'default/without_navbar.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}


<div class="col-12" id="resetPage">
    <div class="row h-100">
        <div class="col-lg-6 text-center d-flex flex-column left-panel">
            <div class="d-flex flex-column mb-5">
                <div>
                    <img src="{{asset('images/arena_logo.png')}}" class="img-fluid mb-5" />
                </div>

                    
                <div  class="text-start">
                    <p>If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                    This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>

                </div>
            </div>
            <div>
                <p class="mb-4">Copyright 2022 | Polityka prywatności</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
