<nav class="navbar navbar-mobile d-lg-none">
  <div class="container-fluid">
    <button class="hamburger-menu" type="button" data-target="#navbarMenu">
      <span class="hamburger-icon invert"></span>
    </button>
    <a class="navbar-brand mx-auto" href="{{ path('app_home') }}"><img src="{{ asset('images/arena_logo.png') }}" alt="Sportis Pro Arena" class="img-fluid img-logo"></a>
    <div class="collapse navbar-collapse" id="navbarMenu">
      {{ include('default/menu.html.twig') }}
    </div>
  </div>
</nav>