{% extends 'base.html.twig' %}

{% block title %}Sportis Arena Pro{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 text-center mt-5">
        <h1>Sportis Arena Pro</h1>
    </div>
</div>
{% endblock %}
