{% extends 'default/with_navbar.html.twig' %}

{% block title %}Twoje powiadomienia{% endblock %}

{% block body %}


<div class="row mx-2">
    <h3>Twoje powiadomienia</h3>
    <div class="col-md-12 mt-4">
    {%for notification in notifications%}
        <div class="my-2 border notification_row row {%if notification.readed==0%}fw-bold{%endif%}" data-notification="{{notification.id}}">
            <div class="col">
                {{notification.createdAt|date('d/m/Y H:i')}}
            </div>
            <div class="col">
                <p>{{notification|notificationText}}</p>
            </div>
            {%if notification.referenceId is not null and (notification.referenceId|requestAnswered) ==0%}
            <div class="col-12 d-none">
                <div class="btn-group btn-group-sm notification-answers" data-referenceid="{{notification.referenceId}}">
                <button type="button" class="btn btn-danger" data-answer="0">Nie</button>
                <button type="button" class="btn btn-success" data-answer="1">Tak</button>
                </div>
            </div>
            {%endif%}
        </div>
        {%else%}
        <div class="alert alert-info">Brak powiadomień</div>
    {%endfor%}
    </div>
    </div>
</div>
{% endblock %}
