{% extends 'default/with_navbar.html.twig' %}

{% block title %}Twoje powiadomienia{% endblock %}

{% block body %}


<h3>Twoje powiadomienia</h3>

<div class="row" id="notificationsPage">
        

    {%for notification in notifications%}
        <div class="my-2 box border notification_row row {%if notification.readed==0%}fw-bold{%endif%}" data-notification="{{notification.id}}">
            <div class="col">
                {{notification.createdAt|date('d/m/Y H:i')}}
            </div>
            <div class="col">
                <h3 class="mb-0">{{notification|notificationText}}</h3>
            </div>
            {%if notification.referenceId is not null and (notification.referenceId|requestAnswered) ==0%}
            <div class="col-12 d-none">
                <div class="btn-group btn-group-sm notification-answers" data-referenceid="{{notification.referenceId}}">
                <button type="button" class="btn btn-outline-primary" data-answer="0">Nie</button>
                <button type="button" class="btn btn-primary" data-answer="1">Tak</button>
                </div>
            </div>
            {%endif%}
        </div>
        {%else%}
        <div class="alert alert-info">Brak powiadomień</div>
    {%endfor%}
                
</div>
{% endblock %}
