{% extends 'base.html.twig' %}

{% block title %}Zawodnicy z mojego klubu{% endblock %}

{% block body %}


<div class="row">
    <div class="col-12">
        <div class="row px-2 mt-1">
            <div class="col-6 col-md-2">
                <img src="{{asset(club.logo)}}" alt="" class="img-fluid club-logo">
            </div>
            <div class="col">
                <h3>{{club.name}}</h3>
            </div>
        </div>
        <h1>Lista zawodników</h1>

        <div class="row px-2">
            {%for player in players %}
            {%include 'modules/player_box.html.twig' with {'player':player,'with_assign_button':with_assign_button}%}
            {%else%}
            <div class="col-12">
            <p class="alert alert-info">Brak zawodników</p>
            </div>
        {%endfor%}
        </div>
        
    </div>
</div>
{% endblock %}
