{% extends 'default/with_navbar.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="row">

    <div class="col-md-10 mx-auto mt-4">
    <h1>{{title}}</h1>

    <div class="alert alert-info">
        Tutaj będą raporty
    </div>
    </div>

</div>
{% endblock %}
