
.notification-btn{
    position: relative;
    z-index: 1;
    .badge{
        position: absolute;
        top:-13px;
        right: -13px;
        z-index: 3;
    }
}

.notification-badge{
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}
.btn{
    font-weight: bold;
}
.btn-primary{
    color:white;
}

.btn-primary:hover{
    color:var(--dark-gray-color);
}

.btn-outline-primary:hover{
    color:white;
}

.form-check-inline .form-check{
    display: inline-block;
    margin-right: 1rem;
}

.form-select[multiple]{
    max-height: 55px;
}

input[type=text],.form-select,.form-control{
    border: 1px solid var(--light-color);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding:15px;
    color: var(--dark-gray-color);
}

label{
    font: var(--main-font-style) normal var(--main-font-weight) var(--main-font-size)/var(--main-line-spacing) var(--main-font-family);
letter-spacing: var(--main-character-spacing);
color: var(--dark-gray-color);
text-align: left;
font: normal normal normal 16px/22px;
letter-spacing: 0px;
opacity: 1;
margin-bottom: 10px;
}