
.notification-btn{
    position: relative;
    z-index: 1;
    .badge{
        position: absolute;
        top:-13px;
        right: -13px;
        z-index: 3;
    }
}

.notification-badge{
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}
.btn{
    font-weight: bold;
}
.btn-primary{
    color:white;
}

.btn-primary:hover{
    color:var(--dark-gray-color);
}

.btn-outline-primary:hover{
    color:white;
}

.form-check-inline .form-check{
    display: inline-block;
    margin-right: 1rem;
}

.form-select[multiple]{
    max-height: 55px;
    @include media-breakpoint-down(lg) {
        max-height: 100%;
    }
}

input[type=text],.form-select,.form-control{
    border: 1px solid var(--light-color);
    opacity: 1;
    padding:15px;
    color: var(--dark-gray-color);
    border-radius:10px;
}

label{
    font: var(--main-font-style) normal var(--main-font-weight) var(--main-font-size)/var(--main-line-spacing) var(--main-font-family);
letter-spacing: var(--main-character-spacing);
color: var(--dark-gray-color);
text-align: left;
opacity: 1;
margin-bottom: 10px;
width: 100%;
}

#searchForm{
    width: 100%;
    max-width: 400px;
    margin: 0 0 0 auto;
    input{
        padding: 6px;
    }

    .form-outline{
        width: calc(100% - 50px);
    }
}

#rankingTypes{
    width: 50%;
    margin-bottom: 40px;
}

#resetPage label{
    text-align: left;
}

.hide-inputs{
    input{
        display: none;
    }
    label{
        margin-bottom: 0;
    }
    .form-check{
        padding-left: 0;
        margin-bottom: 0;
        position: relative;
    }
}

input[type=range][data-orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px !important;
    background: $primary;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}


.range-wrap {
    position: relative;
    &.range-vertical{
        .range{
            margin:0 auto;
        }
        .bubble{
            left:40px;
            bottom:50%;
            &::after{
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 5px solid $primary;
                border-left: none;
                left: -5px;
                top:calc(50% - 5px);
            }
        }
    }
}
.range {
    width: 100%;
    margin:0 auto 2rem;
    padding: 5px 0 !important;
}
.bubble {
    background: $primary;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    unicode-bidi: isolate;
    bottom: 0;
}
.bubble::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    left: calc(50% - 5px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $primary;
}

form{
    .accordion{
        margin:2rem 0;
        border-bottom: 1px solid $secondary;
    }
}

.pointPickerWrapper{
    display: flex;
    justify-content: start;
    margin-bottom: 15px;

    &.rounded{
        flex-direction: column;
        .pointPicker{
            border-radius: 50%;
        }
    }
    &.big{
        .pointPicker{
            width: 401px;
            height: 301px;
        }

    }

    .pointPickerList{
        width: 300px;
        height: 301px;
        margin-left: 100px;
        border:1px solid $secondary;

        .btn{
            width: 45%;
            height: 50px;
            margin:5px 2.5%;
        }
    }
    .pointPicker{
        width:201px;
        height: 201px;
        background: $secondary;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: inline-flex;
        &.map{
            .point{
                width:10px;
                height: 10px;
            }
        }

        &.shield{
            .target-shield{
                width: 100px;
                height: 100px;
                border:1px solid $primary;
                position: absolute;
                border-radius: 50%;
                >div{
                    position: absolute;
                    border-radius: 50%;
                    &:nth-child(odd){
                        background: $primary;
                    }
                    &:nth-child(even){
                        background: $secondary;
                    }
                }
            }
        }
        .point{
            position: absolute;
            width:5px;
            height: 5px;
            background:$primary;
            border-radius: 50%;
        }
    }
}

#targetShieldPointsForm{
    .icon{
        &.icon-number{
            white-space: nowrap;
            width: 100%;
        }
    }
    label.unit-form-input{
        width: 150px;
    }
}


@for $i from 1 through 10 {

    .width-#{$i}0 {
        width: percentage($i/10);
        height: percentage($i/10);
        top:calc(50% - percentage($i / 20));
        left:calc(50% - percentage($i / 20));
    }

    .z-ind-#{$i}{
        z-index: (10-$i)*10;
    }
}