@import "root.scss";
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-src/css/dataTables.bootstrap";
@import "datatables.scss";
@import "forms.scss";
@import "fonts.scss";
@import "modals.scss";
@import "calendar.scss";
@import "menu.scss";
@import "icons.scss";

body.main-style {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
    line-height: var(--main-line-spacing);
    letter-spacing: var(--main-character-spacing);
    color: var(--dark-gray-color);
}
.profile-pic{
    border-radius: 15px;
    width: 100%;
}

.d-none-always{
    display: none!important;
}

.profile-pic-container{
    max-width: 260px;
    margin-right: 50px;
    @include media-breakpoint-down(lg) {
        margin-left: auto;
        margin-right: auto;
    }
    
}
.profile-pic-box{
    margin-bottom: 50px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
    }
}

.club-pic-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-50{
    margin-bottom: 50px;
}

@include media-breakpoint-up(lg) {
    .left-panel{
        .col-lg-6{
            width: calc(50% + 50px);
        }
        .col-lg-8{
            width: calc(75% + 50px);
        }
    }

}


#loginPage,#registerPage,#resetPage{
    background-image: url('/public/assets/images/login_right.png');
    background-position: 100% 0;
    z-index:1;
    background-repeat: no-repeat;
    background-size: contain;
}


#registerPage{
    &.player{
        background-color: #68cdd3;
        background-image: url('/public/assets/images/register_player.png');
    }
    &.manager{
        background-color: #23b6be;
        background-image: url('/public/assets/images/register_manager.png');
    }
    label{
        width: 100%;
    }
}

.left-panel{
    background: white url('/public/assets/images/login_left.png') no-repeat;
    background-position: 0 100%;
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed;
    border-radius: 0 30px 30px 0;
    z-index: 2;
    justify-content: flex-end;

@include media-breakpoint-down(lg) {
    justify-content: flex-start;
    border-radius: 0;
}

    .d-flex.flex-column{
        justify-content: center;
        height: 85%;
        max-width: 500px;
        margin:0 auto;
        width:70%;
        @include media-breakpoint-down(lg) {
            height: 100%;
            width: 90%;
        }
    }

    &.col-lg-8{
        justify-content: space-evenly;

        .img-logo{
            max-width: 180px;
            margin-bottom: 45px;
        }
        .d-flex.flex-column{
            max-width: 100%;
            width: 85%;
            @include media-breakpoint-down(lg) {
                width:90%;
            }
        }
    }
}

.content-container{
    background: white url('/public/assets/images/login_left.png') no-repeat;
    background-position: bottom left;
    padding: 40px 50px 60px;
    position: relative;
}

@media screen and(max-width:767px) {
    .content-container{
        padding: 20px 20px 40px;
    }
}

@include media-breakpoint-down(lg) {
    body{
        padding-top: 70px;
    }
#resetPage{
    .w-100{
        .btn{
            width: 100%;
        }
    }
}

#notificationsPage{
    .notification-answers{
        width: 100%;
        .btn{
            width: 50%;
        }
    }
}
}

.img-icon{
    width: 16px;
    margin-top: -5px;
}
.invert{
    filter: invert(1);
}

.welcome-header{
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 26px;
    position: relative;
    margin-bottom: 26px;

    h3{
        font-weight: 900;
        font-size: 21px;
        line-height: 27px;
    }

    .img-icon{
        transform: rotate(-45deg);
    }

    .green-line{
        width: 175px;
        height: 3px;
        position: absolute;
        bottom:-2px;
        left:0;
        background: $primary;
    }
}

.container-fluid >.row{
    min-height: 100vh;
}

.content{

    font-size:16px;

    .box{
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 0 6px #00000029;
        border-radius: 15px;
        opacity: 1;
        padding:30px;
        @include media-breakpoint-down(lg) {
            padding:15px;
        }
        margin-bottom: 30px;

        .form-group:not(:last-child){
            margin-bottom: 12px;
        }

        &.info-box{
            .col-md-5{
                font-weight: 900;
            }
            .col-md-5,.col-md-7{
                margin-bottom: 15px;
            }
        }
        &.less-pb{
            padding: 30px 30px 15px;
        }
    }

    label{
        color:#5a5a5a;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
    }
    input,select{
        border-radius: 5px;
        padding: 5px;
    }

    select[multiple]{
        max-height: 80px;
        @include media-breakpoint-down(lg) {
            height: auto;
        }
        option:checked{
            background-color: $primary;
        }
    }


    h3{
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 30px;
    }
}

.buy-units{
    justify-content: space-between;
    
    .box{
        @include media-breakpoint-up(lg) {
        width: calc(33.33% - 20px);
        }
        @include media-breakpoint-down(lg) {
            width: calc(50% - 20px);
        }
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        margin-bottom:36px;
        .col-5{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
        h3{
            margin-bottom: 15px;
            font-size: 23px;
        }
    }
}

.info-box{
    .col-5{
        font-weight: bold;
    }

    .col-md-7{

        ul{
            list-style: none;
            padding: 0;
            margin:0;
        }
    }
}
footer{
    position: absolute;
    bottom:15px;
}

.dashboard{
    .progress{
        height: 3px;
    }

    

    .stats-box{
        height: calc(100% - 50px );
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .col-5{
            font-weight: bold;
            margin-bottom: 15px;
        }
        .row{
            align-items: center;
        }
    }
}

#raportsPage{
    h4{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .row:not(.pagination){
        p{
            margin-bottom: 28px;
        }
    }
}

.pagination{
    color:#8b8a8a;
    p{
        font-weight: bold;
        margin-bottom: 0;
    }

    a{
        color:#8b8a8a;
        text-decoration: none;
        margin:0 3px;
        &:hover{
            font-weight: bolder;
        }

        &.current{
            font-weight: bold;
        }
    }
}

.competition-box{

    margin-bottom: 30px;
    &:nth-child(odd)
    {
        margin-right: 30px;
        @include media-breakpoint-down(lg) {
            margin-right: 0;
        }
    }
    &:nth-child(even){
        margin-left: 30px;
        @include media-breakpoint-down(lg) {
            margin-left: 0;
        }
    }

    .competition-logo{
        display: flex;
        justify-content: center;
        align-self:center;
        padding: 0;
    }


    align-items: center;
    p{
        font-size: 16px;
    }
    p,h3{
        margin-bottom: 15px;
    }
}

.status-icon{
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    &.missed{
        background:#b70b0b;
        img{
            width: 6px;
        }
    }
    &.to-do{
        background: #f1db1b;
        img{
            width: 14px;
        }
    }
    &.done{
        background: #32b70b;
        img{
            width: 16px;
        }
    }
    img{
        height: 16px;
        filter: invert(1);
    }
}
.overflow-x-auto{
    overflow-x: auto;
    &.only-x{
        overflow-y: hidden;
    }
}
.training-nav{
    border-bottom: none;
    flex-wrap: nowrap;
    a{
        font-size: 16px;
        color:#8b8a8a;
        padding:7px 36px 17px;
    }

    .nav-link{
        border-top:6px solid transparent;
        &.active{
            color:#0baeb7;
            border-color: #0baeb7;
            &:hover{
                border-color: #0baeb7;
            }
        }
        &:hover{

            border-color: transparent;
        }
    }

    li{
        background: #e5e5e5;
        font-weight: bold;
        border-right: 1px solid white;
        &:last-child{
            border-top-right-radius: 20px;
        }
        &:first-child{
            &:not(.active){
                border-top-left-radius: 20px;
            }
        }
        &.active{
            border-right: none;
            margin-left: -1px;
            a{
                color:#0baeb7;
                background: white;
                border:none;
                border-top:6px solid #0baeb7;
                border-top-left-radius: 15%;
                border-top-right-radius: 15%;
            }
        }
    }
}

#trainingList{
    .box{
        border-top-left-radius: 0;
    }
}