.modal-content{
    border-radius: 15px;
    padding: 50px;
}

.modal-header{
    border-bottom: none;
    padding: 0;
    button{
        position: absolute;
        top:15px;
        right: 15px;
    }
}
.modal-body{
    padding: 1rem 0;
}
.modal-footer{
    border-top:none;
    padding: 0;
    justify-content: flex-start;
}

.modal-title{
    font-weight: bold;
}