{% extends 'default/with_navbar.html.twig' %}

{% block title %}Dodaj konfiguracje{% endblock %}

{% block body %}

<div class="row">
    
    <div class="col-md-10 mx-auto mt-4">
    <h1>Konfiguracja treningowa</h1>
    </div>
    <div class="col-md-10 mx-auto mt-4">
        {{ form_start(form) }}
       
        

    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
