<form id="searchForm">
    <div class="input-group">
        <div class="form-outline">
            <input type="text" id="searchBox" placeholder="Wyszukaj" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary">
            <img src="{{asset('icons/search-solid.svg')}}" class="img-fluid img-icon invert">
        </button>
    </div>
</form>