<div class="accordion-item" id="accordion-item-series___X__">
    <h2 class="accordion-header" id="flush-series__X__">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeries__X__" aria-expanded="false"
                aria-controls="flush-collapseSeries__X__">
            Konfiguruj serie __X__
        </button>
    </h2>
    <div id="flush-collapseSeries__X__" class="accordion-collapse collapse" aria-labelledby="flush-series__X__" data-bs-parent="#accordionSeries">
        <div class="accordion-body">
            __FORM__
        </div>
    </div>
</div>