<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sportis Arena Pro | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{asset('images/arena_icon.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://use.typekit.net/qxf0tpj.css">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="main-style">
    {% block content %}{% endblock %}

    
    {{include('modals/info_modal.html.twig')}}
    </body>
</html>
