{% extends 'default/with_navbar.html.twig' %}

{% block title %}Rezerwacja - wybierz Arene{% endblock %}

{% block body %}


{%set pages=((arenas|length)/10)|round(0,'ceil')%}
<h3>Zarezerwuj termin</h3>

    <div class="row" id="arenaList">
        <div class="col-12">
            <div class="box">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Lista aren</h3>
                    </div>

                    <div class="col-md-6 text-end">
                    {% include 'modules/search_form.html.twig' %}
                    </div>
                    <table class="table dataTable" data-current-page="1" data-pages="{{pages}}">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Adres</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {%for arena in arenas %}
                    <tr>
                        <td><p>{{arena.name}}</td>
                        <td><p>{{arena.address}}</td>
                        <td class="text-end">
                            <a href="{{path('app_training_reserve_choose_dates',{id:arena.id})}}" class="fw-bold">Zarezerwuj</a>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                    </table>
                </div>
                {% include 'modules/pagination.html.twig' with {'data':{'pages':pages,'current':1}} %}
                
            </div>
        </div>
        {#
        <div class="col-3">
            <div class="box">
                <h3 class="text-center">Kalendarz</h3>
            </div>
        </div>
        #}
    </div>
{% endblock %}
