{% extends 'default/with_navbar.html.twig' %}

{% block title %}Dokup jednostki treningowe{% endblock %}

{% block body %}

<h3>Dokup jednostki treningowe</h3>

    <div class="col-md-12">
    {%set tokens=[1,3,5,10,15,25]%}
    <div class="row buy-units">
    {%for token in tokens%}
        <div class="col-12 col-md-6 col-lg-4 box">
            <div class="row">
                <div class="col-5">
                    <img src="{{asset('images/'~token~'_unit.jpg')}}" class="img-fluid">
                </div>
                <div class="col-7">
                    <h3>Kup {{token}}
                    {%if token ==1%} jednostka
                    {% elseif token<5 %} jednostki
                    {%else%}
                     jednostek{%endif%}</h3>
                    <p>Cena: {{token*10}} zł</p>
                    <button type="button" class=" btn btn-primary buy-btn px-4" data-units="{{token}}">Kup</button>
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
    </div>
</div>
{% endblock %}
